/*
--[ Scoreboard - edited by szymczakovv ]--
-- Name: Scoreboard Reworked from esx_scoreboard and szymczakovv_scoreboard (first version of scoreboard on github)
-- Author: szymczakovv#1937
-- Date: 06/01/2021
-- Version: 2.0
-- Original: https://github.com/esx-community/esx_scoreboard
*/
.scoreboard-wrapper{

    padding-top:10px;

    width:fit-content;

    min-width: 450px;

    height:auto;

    min-height:100px;

    background:rgba(0,0,0,0.7);

    position: absolute;

    top:15%;

    left:50%;

    transform:translate(-50%,-15%);

    border:1px solid grey;

    box-shadow: 0px 1px 5px black;

    display: none;

    padding-bottom: 8px;

    font-family: Calibri;

     border-top-left-radius: 15px;

    border-top-right-radius: 15px;

    border-bottom-left-radius: 15px;

    border-bottom-right-radius: 15px;

}



*,*::before,*::after{

    box-sizing: border-box;

    scroll-behavior: smooth;

}



* {

    -webkit-user-select: none;  

    -moz-user-select: none;    

    -ms-user-select: none;      

    user-select: none;

    outline: none;

}



.border{

    width:100%;

    height:2px;

    background:grey;

}



th img{

    border-radius: 50%;

}



.claude{

    display:flex;

    justify-content:center;

    align-items: center;

}



.claude img{

    margin-right:5px;

}



.scoreboard-details{

    color:white;

    display: flex;

    justify-content:center;

    margin-top:20px;

    margin-left:25px;

    text-shadow:0px 1px 3px black;

    max-height: 50vh;

    overflow-y: scroll;

}



::-webkit-scrollbar-track

{

	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	border-radius: 10px;

	background-color: transparent;

}



::-webkit-scrollbar

{

	width: 5px;

	background-color: transparent;

}



::-webkit-scrollbar-thumb

{

	border-radius: 10px;

	box-shadow: inset 0 0 6px lightblue;

    color:lightblue;

}



.main-table th{

    padding-right: 25px;

}



tr.details th{

    text-decoration: underline;

    color:lightblue;

    font-weight: bold;

}



tr:not(.details) th{

    font-size:16px;

    font-weight: bold;

}



.container{

    display:flex;

    justify-content: center;

    align-items:flex-start;

    flex-direction: row;

}



.scoreboard-bottom{

    padding-top:10px;

    color:lightblue;

    text-align:center;

}



.header{

    color: rgba(255, 255, 255, 0.8);

    font-size: 1.0em;

	background-image: url("./bg.png");

    box-shadow: 0 0 5px 2px black;

    margin: 0 auto;

	width:94%;

    height:9.5vh;

	background-size:100% 100%;

	background-repeat: no-repeat;

    font-family: Calibri;

    max-width: 550px;

}

